  /* li {
        list-style: none;
    } */
    * {
        margin: 0px;

    }

    a {
        text-decoration: none;
        color: black;
    }


    #content {
        height: 100%;
        width: 100%;
    }

    #content #header {
        margin: auto;
        padding-left: 43%;
        font-size: 20px;
    }

    #content #menu {
        height: 800px;
        width: 18%;
        background: skyblue;
        margin-top: 20px;
        margin-left: 10px;
    }

    #content #menu .menu {
        padding-top: 20px;
        padding-left: 20px;
    }

    #content #menu a:hover {

        color: red;
    }

    #content #menu #ul {
        font-size: 17px;
    }