<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>

<style>
	.container {
		/*类选择器*/
		max-width: 600px;
		height: 400px;
		/*左右*/
		padding: 80px 0;
		/*上下*/
		text-align: center;
		margin: 0 auto;
		/*居中显示*/
	}

	form {
		padding: 20px 0;
	}

	form input {
		border: 1px solid black;
		width: 220px;
		padding: 10px 15px;
		display: block;
		margin: 0 auto 10px auto;
		font-size: 18px;
		font-weight: 300;
		text-align: center;
	}
</style>

<body>
	<div class="context">
		<div class="container">
			<h1>Login</h1>
			<!-- <form action="" method="get"> -->
			<div> <input type="text" id="username" name="userid" placeholder="UserName" />
			</div>
			<div> <input type="password" id="password" name="userpw" placeholder="PassWord" />
			</div>
			<div> <button onclick="validate()">Login</button>
			</div>


			<!-- </form> -->
		</div>

	</div>


	<script src="../static/jquery.js"></script>
	<script src="../static/login.js"></script>
</body>

</html>