#container{
	margin: 0 auto;
	width:75rem;
	height: 50rem;
	
}

#d1{
	float: left;
	margin-top: 3.125rem;
	margin-left: 0.625rem;
	width: 20%;
	height: 85%;

}

#d2{
	margin-left:3rem ;
	margin-top: 3.125rem;
	float: left;
	
	width: 50rem;
	height: 85%;
}
#d3{
	
	margin-left:2rem ;
	margin-top: 1rem;
	width: 47rem;
	height:4rem;
}



